body {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: sans-serif;
    line-height: 1.5;
    min-height: 100vh;
    background: linear-gradient(to right, rgb(16, 144, 187), rgb(50, 46, 47));
    flex-direction: column;
    margin: 0;
}

.main {
    background-color: transparent;
    border-radius: 15px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    padding: 10px 20px;
    transition: transform 0.2s;
    width: 400px;
    text-align: center;
    
}

h1 {
    color: #ffffff;
    margin-bottom: 3rem;
    margin-top: 1rem;
    font-size: 2rem;
    font-weight: 600;
}



input {
    display: block;
    width: 100%;
    margin-bottom: 1.6rem;
    padding: 0.7rem;
    box-sizing: border-box;
    border: 1px solid #ddd;
    outline: none;
    font-size: 0.8rem;
}

input:focus{
    outline: 2px solid rgba(39, 13, 231, 0.815);;
}

button {
    padding: 1rem;
    /* margin-top: 1rem; */
    /* margin-bottom: 1rem; */
    border: none;
    color: white;
    cursor: pointer;
    background-color: #2b4467;
    width: 100%;
    font-size: 1rem;
}

.wrap {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem 0 1rem 0;
}

h3{
    color: red;
}

.error {
    color: red;
    font-size: 0.9em;
    display: none;
    margin-bottom: 2px;
}

p a{
    color: #ddd;
    text-decoration: none;
}

p a:hover{
    text-decoration: underline;
    color: white;
}